@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body {
    font-family: 'Manrope', sans-serif;
}

ol {
    list-style-position: inside;
}

.left {
    margin-left: auto;
    margin-right: auto;
    width: 20em
}

#image {
    width: 400px;
    height: auto;
}

#imgsize {
    width: 400px;
    height: auto;
}

.collage {
    max-width: 250px;
    height: auto;
}

.jumbotron {
    animation: fadein 2s;
}

.badge {
    width: 70px;
    position: absolute;
    left:17px;
    top:13px;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size:15px;
}

.synthpop{
    width: 110px;
}