@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

body {
    font-family: 'Manrope', sans-serif;
}

ol {
    list-style-position: inside;
}

.left {
    margin-left: auto;
    margin-right: auto;
    width: 20em
}

#image {
    width: 400px;
    height: auto;
}

#imgsize {
    width: 400px;
    height: auto;
}

.collage {
    max-width: 250px;
    height: auto;
}

